<div class="row">
  <div class="col-md-5">
    <h4>Logowanie</h4>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="center-block">
          Email
          <input class="form-control" formControlName="email" type="email">
        </label>
        <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="text-danger">
          <small *ngIf="loginForm.controls['email'].errors.required">
            Pole email jest wymagane
          </small>
          <small *ngIf="loginForm.controls['email'].errors.email">
            Zawartość pola nie jest prawidłowym adresem email
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">
          Hasło
          <input class="form-control" formControlName="password" type="password">
        </label>
        <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="text-danger">
          <small *ngIf="loginForm.controls['password'].errors.required">
            Pole hasło jest wymagane
          </small>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary" [disabled]="!loginForm.valid">Zaloguj</button>
    </form>
  </div>
</div>
