<div>
  <app-courses-list-item *ngFor="let course of (courses |
                                                searchPipe : courseFilters.search) |
                                                semesterPipe : courseFilters.semester |
                                                ectsPipe : courseFilters.minECTS : courseFilters.maxECTS |
                                                ratePipe : courseFilters.minRate : courseFilters.maxRate"
                         [course]="course"
                         (deleteCourse)="deleteCourse($event)">
  </app-courses-list-item>
</div>
