<div>
  <h3>Panel administratora</h3>
  <a [routerLink]="['/addCourse']" class="btn btn-outline-primary mb-3">Dodaj kurs</a>
  <table class="table table-striped table-sm border">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa kursu</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <th scope="row">{{ course.id }}</th>
      <td>{{ course.name }}</td>
      <td>
        <a [routerLink]="['/editCourse', course.id]" class="text-primary">Edytuj</a>
        <a href="#" (click)="deleteCourse(course.id, $event)" class="text-danger ml-3">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
