<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" [routerLink]="['']">Kursy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!(authService.authState$ | async)" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Zaloguj</a>
        </li>
        <li *ngIf="!(authService.authState$ | async)" class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Zarejestruj</a>
        </li>
        <li *ngIf="authService.authState$ | async as user">
          <a class="nav-link disabled">{{ user.email }}</a>
        </li>
        <li *ngIf="authService.authState$ | async">
          <a class="nav-link" href="#" (click)="signOut($event)">Wyloguj</a>
        </li>
        <li *ngIf="(authService.authState$ | async)&&((authService.authState$ | async).email == 'admin@admin.com')">
          <a class="nav-link" href="#" (click)="signOut($event)">Panel administratora</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

